#container {
width:100%
height100%;
}

#containerheader {
	width:100%
	height 300px;
}

#leftcontainer {
	float:left;
	padding-top:25px;

}

#rightcontainer {
	float:left;
	width: 600px;
	padding-top: 22px;

}

.col-sm-6 {

}